@import '../variables.scss';

.root :global {
  .user-avatar-container {
    background-color: $default-primary-color;
    text-align: center;

    .user-avatar {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
      margin: 25px auto;
      border: 1px solid $text-primary-color;
    }
  }

  .mdl-card__title {
    background-color: $default-primary-color;
    color: $text-primary-color;
    padding: 0 0 10px 0;
    text-align: center;
  }

  .mdl-card__supporting-text {
    padding: 16px 8px;
    width: 100%;
  }

  .mdl-layout__header-row > .mdl-layout-title {
    color: $text-primary-color;
  }

  .mdl-layout__header {
    background-color: $dark-primary-color;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    color: $text-primary-color !important;
  }

  .mdl-layout__drawer > .mdl-layout-title {
    padding: 0;
    background-color: $default-primary-color;
    color: $text-primary-color;
    text-decoration: none;
    font-weight: normal;
  }

  .mdl-layout__drawer-button {
    color: $text-primary-color !important;
  }

  .msgNumber {
    text-align: right;
    color: $text-primary-color;
    font-weight: 400;

    i {
      background: $accent-color;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      margin: 0 10px;
    }
  }
}
